<!DOCTYPE html>
<html>
<head>
  <title>Horrible Valentine Gift Ideas!</title>
  <link rel="stylesheet" href="dist/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">
  
</head>
<body>
  <div class='container'>
    <h1>Horrible Valentine Gift Ideas!</h1>
    <%= yield %>
  </div>
</body>
</html>